
<span class="label label-success">59-100% : Good</span>
<span class="label label-warning">50-59% : Average</span>
<span class="label label-danger">0-49% : Bad</span>

<div id='chart'></div>
<%= render_chart(@chart, 'chart') %>





